@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  grid-area: header;
}
.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-areas: "filter products";
}

.home {
  display: grid;
  grid-template-rows: 64px auto;
  grid-template-areas:
    "header header"
    "main main";
}

.products {
  grid-area: products;
}
.filter {
  grid-area: filter;
}

.leftSideBar {
  grid-area: leftSideBar;
}

.rightSideBar {
  grid-area: rightSideBar;
}

.order {
  grid-template-columns: 500px auto;
  grid-template-areas: "leftSideBar rightSideBar";
}
